<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T2C22ZZZ9T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T2C22ZZZ9T');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Shortened</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shortened-styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='whale.webp') }}">
    <script src="{{ url_for('static', filename='get-domain.js') }}">updatePageContent()</script>
</head>

<body id="message" onload="updatePageContent()">
    <section id="message">
        <h1>Link Shortened</h1>
        <p>Short URL: <a href="/{{ short_url }}"><span id="entire-url"></span>/{{ short_url }}</a></p>
        <a id="go-to-btn" href="/{{ short_url }}"><button id="btn">Go to: {{ original_url }}</button></a>
    </section>
    <footer>
        <a href="https://eglenn.dev" target="_blank">
            <p>Copyright &copy; Ethan Glenn 2023</p>
        </a>
    </footer>
</body>

</html>