<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T2C22ZZZ9T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-T2C22ZZZ9T');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Link Shortener</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='whale.webp') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='shorten-form-styles.css') }}">
</head>

<body>
  <section id="message">
    <h1>Link Shortener</h1>
    <p>Please enter a valid URL below.</p>
    <div class="form-container">
      <form class="form__group field" action="/shorten" method="post">
        <input name="url" type="input" class="form__field" placeholder="URL" required>
        <label for="name" class="form__label">URL</label>
        <input class="submit" type="submit" value="Shorten">
      </form>
    </div>
  </section>
  <footer>
    <a href="https://eglenn.dev" target="_blank">
      <p>Copyright &copy; Ethan Glenn 2023</p>
    </a>
  </footer>
</body>

</html>